*{

padding: 0;
margin: 0;
box-sizing: border-box;
}

body{

	padding: 30px;
	
	background-size: cover;

}

#inputContainer{
	background-image: linear-gradient( to right top ,black,skyblue,pink,aqua,pink,skyblue,black);
	display: inline-block;
	height: 95vh;
	width: 100%;

}
.navhome{
	padding: 10px 5px;
	margin: 10px;
	background-color: yellow;
	width: 55px;
	display: inline-block;

}
	
.formbody{
display: block;
background-color: transparent;
height: 90vh;
position: center;


}

h2{	padding-top: 10px;
	text-align: center;
	color:white;
	font-family: cursive,aril;
	font-size: 30px;
	font-weight: 700;
background-color: #e291a0;
border-right: color 30px;
display:inline-block;
margin-top: 8px;
border-radius: 30px;
padding: 5px;
display: inline-block;

}

p{		
	margin: 20px;
	padding-left: 25%;
	width: 40%;

}
label{
	
    font-family: helvetica;
    font-size: 15px;
    color: black;
    background-color: skyblue;
    background-size: 100%;
    /* display: block; */
    margin: 0px;
    text-align: center;
    border-radius: 40px;
    font-weight: bold;
    /* background-repeat-y: repeat; */
    display: inline;
    height: 51px;

	}
input{
	
	
	text-align: center;
	background-color: transparent;
	border:none;
	border-bottom: black 2px solid;




}
button{
	background-color: black;
	color: white;
	display: block;
	margin-left: 35%;
	font-size: 20px;
	border:none;
	border:black 2px solid;


}

#sub2{

display: inline-block;
float: right;
    height: 80vh;
    width: 85Vh;
    margin-right: 25px;
   margin-top: 5%;
   background-color: #e8839596;




}

.logoclass {
    display: inline-block;
    margin-top: 10px;
     margin-left: 24px;
    margin-bottom: 10px;
    animation-name: moveinright;
	animation-duration: 1s;
	transition: all 0.7s;
}
.logoclass:hover{
	transform: scale(1.1);

}
   

.discription{
	display: inline-block;
	font-family: fantasy;
	color: black;
	padding: 40px 60px;
	margin: 10px;
	text-decoration: none;
	border-radius: 10px;
	font-size: 1.5em;
	line-height: 2em;
	

}

.navhome{
font-size: 15px;
margin: none;
text-decoration: none;
background-color: black;
font-family: helvetica;
display: inline-block;
border:white 3px;
color:green;
}

#registerbody {
	padding-right: 20%;
	font-family: helvetica;
	font-size: 20px;
	color: white;
	background-color: transparent;
	background-size: 100%;
	display: block ;
	margin-right: : 50%;
	display: inline-block;
	border-right: white solid 2px;
	height: 95vh;
	width: 95Vh;
	
}

.loginlogo{
	display: inline-block;
animation-name: moveinright;
animation-duration: 1s;
transition: all 0.7s;

}
.loginlogo:hover{
	transform: scale(1.1);

}

.loginmain{

display: inline-block;
margin: 10px;
padding-left: 10px;
background-color: #e8839596;
padding: 40 20px;
height: 85vh;
}

.loginhead h1{
	font-size: 25px;
color: black;
display: block;
  font-family: fantasy;
  margin-top: 25px;

  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 15px;

}
@keyframes moveinleft{
	0%{
		opacity: 0;
		transform: translateX(-100px);

	}


	70%{
		transform: translateX(10px);
		
	}


	100%{ opacity: 1;
		transform: translate(0);
		
	}
}
@keyframes moveinright{
	0%{
		opacity: 0;
		transform: translateX(100px);

	}


	70%{
		transform: translateX(-10px);
		
	}


	100%{ opacity: 1;
		transform: translate(0);
		
	}
}

